interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"8832c44e4e0a5a6096081053dbf11268"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?per_page=100
  response:
    body: {string: "{\"id\":3439658,\"description\":\"\",\"name\":\"test\",\"name_with_namespace\":\"GitMate
        / test\",\"path\":\"test\",\"path_with_namespace\":\"gitmate-test-user/test\",\"created_at\":\"2017-06-05T04:56:19.418Z\",\"default_branch\":\"master\",\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:gitmate-test-user/test.git\",\"http_url_to_repo\":\"https://gitlab.com/gitmate-test-user/test.git\",\"web_url\":\"https://gitlab.com/gitmate-test-user/test\",\"readme_url\":\"https://gitlab.com/gitmate-test-user/test/blob/master/README.md\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/project/avatar/3439658/gitmate-labs.png\",\"star_count\":0,\"forks_count\":4,\"last_activity_at\":\"2018-06-05T10:16:57.566Z\",\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/3439658\",\"issues\":\"https://gitlab.com/api/v4/projects/3439658/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/3439658/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/3439658/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/3439658/labels\",\"events\":\"https://gitlab.com/api/v4/projects/3439658/events\",\"members\":\"https://gitlab.com/api/v4/projects/3439658/members\"},\"archived\":false,\"visibility\":\"public\",\"owner\":{\"id\":1369631,\"name\":\"GitMate
        Labs \U0001F47D\",\"username\":\"gitmate-test-user\",\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\",\"web_url\":\"https://gitlab.com/gitmate-test-user\"},\"resolve_outdated_diff_discussions\":null,\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":1369631,\"namespace\":{\"id\":1652018,\"name\":\"gitmate-test-user\",\"path\":\"gitmate-test-user\",\"kind\":\"user\",\"full_path\":\"gitmate-test-user\",\"parent_id\":null},\"import_status\":\"failed\",\"import_error\":\"Mirror
        update for gitmate-test-user/test failed with the following message: The default
        branch (master) has diverged from its upstream counterpart and could not be
        updated automatically.\",\"open_issues_count\":20,\"runners_token\":\"mJspL93WBs-yfGkkvpos\",\"public_jobs\":true,\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\",\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\":3},\"group_access\":null},\"approvals_before_merge\":0}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"edec08c8f511547ba1be6361094a50b8"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1528387962']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 16:12:42 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"4f335cc81ccaf752dc263240cecea8d4"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25?per_page=100
  response:
    body: {string: "{\"id\":4445169,\"iid\":25,\"project_id\":3439658,\"title\":\"Create
        a.txt\",\"description\":\"Awesome commit message\\n\\nFix #21, Fixes #22 and
        Closes gitmate-test-user/test#23.\\nThis commit is also related to #31 and
        fixes #26, #27\\nand https://gitlab.com/gitmate-test-user/test/issues/30.\",\"state\":\"opened\",\"created_at\":\"2017-07-28T20:00:27.022Z\",\"updated_at\":\"2017-08-14T22:07:19.034Z\",\"target_branch\":\"master\",\"source_branch\":\"test-issue-pr-relate\",\"upvotes\":0,\"downvotes\":0,\"author\":{\"id\":889700,\"name\":\"Naveen
        Kumar Sangi\U0001F984\",\"username\":\"nkprince007\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/2ed27920a4ec4445d0e390a30df7145d?s=80\\u0026d=identicon\",\"web_url\":\"https://gitlab.com/nkprince007\"},\"assignee\":null,\"source_project_id\":3439658,\"target_project_id\":3439658,\"labels\":[],\"work_in_progress\":false,\"milestone\":null,\"merge_when_pipeline_succeeds\":false,\"merge_status\":\"can_be_merged\",\"sha\":\"9ba5b704f5866e468ec2e639fa893ae4c129f2ad\",\"merge_commit_sha\":null,\"user_notes_count\":0,\"discussion_locked\":null,\"should_remove_source_branch\":null,\"force_remove_source_branch\":false,\"web_url\":\"https://gitlab.com/gitmate-test-user/test/merge_requests/25\",\"time_stats\":{\"time_estimate\":0,\"total_time_spent\":0,\"human_time_estimate\":null,\"human_total_time_spent\":null},\"squash\":false,\"subscribed\":false,\"changes_count\":\"1\",\"merged_by\":null,\"merged_at\":null,\"closed_by\":null,\"closed_at\":null,\"latest_build_started_at\":null,\"latest_build_finished_at\":\"2017-09-24T12:09:30.935Z\",\"first_deployed_to_production_at\":null,\"pipeline\":{\"id\":12080175,\"sha\":\"9ba5b704f5866e468ec2e639fa893ae4c129f2ad\",\"ref\":\"test-issue-pr-relate\",\"status\":\"running\"},\"diff_refs\":{\"base_sha\":\"515280bfe8488e1b403e0dd95c41a404355ca184\",\"head_sha\":\"9ba5b704f5866e468ec2e639fa893ae4c129f2ad\",\"start_sha\":\"515280bfe8488e1b403e0dd95c41a404355ca184\"},\"approvals_before_merge\":null}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"5f546a79f0bc9fab15252fc9e04dbd38"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1528387964']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 16:12:44 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25/commits?per_page=100
  response:
    body: {string: '[{"id":"9ba5b704f5866e468ec2e639fa893ae4c129f2ad","short_id":"9ba5b704","title":"Create
        a.txt","created_at":"2017-07-28T19:59:43.000Z","parent_ids":[],"message":"Create
        a.txt\n\nAwesome commit message\n\nFix #21, Fixes #22 and Closes gitmate-test-user/test#23.\nThis
        commit is also related to #31 and fixes #26, #27\nand https://gitlab.com/gitmate-test-user/test/issues/30.","author_name":"Naveen
        Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-07-28T19:59:43.000Z","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-07-28T19:59:43.000Z"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"af045c93b2c728bd4366b868c62788d2"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25/commits?id=gitmate-test-user%2Ftest&merge_request_iid=25&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25/commits?id=gitmate-test-user%2Ftest&merge_request_iid=25&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1528387966']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 16:12:46 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/9ba5b704f5866e468ec2e639fa893ae4c129f2ad/diff?per_page=100
  response:
    body: {string: '[{"old_path":"issue-pr.txt","new_path":"issue-pr.txt","a_mode":"0","b_mode":"100644","new_file":true,"renamed_file":false,"deleted_file":false,"diff":"@@
        -0,0 +1 @@\n+testing issue relativity to merge requests\n\\ No newline at
        end of file\n"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"0badb61a4b8e18a645ef69fe6b7a2632"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/9ba5b704f5866e468ec2e639fa893ae4c129f2ad/diff?id=gitmate-test-user%2Ftest&page=1&per_page=100&sha=9ba5b704f5866e468ec2e639fa893ae4c129f2ad>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/9ba5b704f5866e468ec2e639fa893ae4c129f2ad/diff?id=gitmate-test-user%2Ftest&page=1&per_page=100&sha=9ba5b704f5866e468ec2e639fa893ae4c129f2ad>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1528387969']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 16:12:49 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/9ba5b704f5866e468ec2e639fa893ae4c129f2ad?per_page=100
  response:
    body: {string: '{"id":"9ba5b704f5866e468ec2e639fa893ae4c129f2ad","short_id":"9ba5b704","title":"Create
        a.txt","created_at":"2017-07-28T19:59:43.000+00:00","parent_ids":["515280bfe8488e1b403e0dd95c41a404355ca184"],"message":"Create
        a.txt\n\nAwesome commit message\n\nFix #21, Fixes #22 and Closes gitmate-test-user/test#23.\nThis
        commit is also related to #31 and fixes #26, #27\nand https://gitlab.com/gitmate-test-user/test/issues/30.","author_name":"Naveen
        Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-07-28T19:59:43.000+00:00","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-07-28T19:59:43.000+00:00","stats":{"additions":1,"deletions":0,"total":1},"status":"running","last_pipeline":{"id":12080175,"sha":"9ba5b704f5866e468ec2e639fa893ae4c129f2ad","ref":"test-issue-pr-relate","status":"running"},"project_id":3439658}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"ec473cf68f4e20a9f316c0263d62a705"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1528387972']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 16:12:52 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/9ba5b704f5866e468ec2e639fa893ae4c129f2ad/statuses?per_page=100
  response:
    body: {string: "[{\"id\":33806308,\"sha\":\"9ba5b704f5866e468ec2e639fa893ae4c129f2ad\",\"ref\":\"test-issue-pr-relate\",\"status\":\"success\",\"name\":\"gitmate/test\",\"target_url\":\"https://example.com\",\"description\":\"test\",\"created_at\":\"2017-09-24T12:09:30.844Z\",\"started_at\":null,\"finished_at\":\"2017-09-24T12:09:30.863Z\",\"allow_failure\":false,\"coverage\":null,\"author\":{\"id\":1369631,\"name\":\"GitMate
        Labs \U0001F47D\",\"username\":\"gitmate-test-user\",\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\",\"web_url\":\"https://gitlab.com/gitmate-test-user\"}},{\"id\":56951534,\"sha\":\"9ba5b704f5866e468ec2e639fa893ae4c129f2ad\",\"ref\":\"test-issue-pr-relate\",\"status\":\"pending\",\"name\":\"review/gitmate/manual\",\"target_url\":\"https://gitmate.io\",\"description[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/test-issue-pr-relate?per_page=100
  response:
    body: {string: '{"id":"9ba5b704f5866e468ec2e639fa893ae4c129f2ad","short_id":"9ba5b704","title":"Create
        a.txt","created_at":"2017-07-28T19:59:43.000+00:00","parent_ids":["515280bfe8488e1b403e0dd95c41a404355ca184"],"message":"Create
        a.txt\n\nAwesome comm[...]
[...]
- request:
    body: '{"state": "pending", "target_url": "https://gitmate.io", "description":
      "This PR needs review.", "name": "review/gitmate/manual/pr"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/statuses/9ba5b704f5866e468ec2e639fa893ae4c129f2ad
  response:
    body: {string: '{"message":"Cannot transition status via :enqueue from :pending
        (Reason(s): Status cannot transition via \"enqueue\")"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['5']
      RateLimit-Remaining: ['595']
      RateLimit-Reset: ['1528387981']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 16:13:01 GMT']
    status: {code: 400, message: Bad Request}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25/notes/25?per_page=100
  response:
    body: {string: '{"message":"404 Not found"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['6']
      RateLimit-Remaining: ['594']
      RateLimit-Reset: ['1528387984']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 16:13:04 GMT']
    status: {code: 404, message: Not Found}
version: 1
