{
    "DB_NAME": "",
    "DB_USER": "",
    "DB_PASSWORD": "",
    "DB_ADDRESS": "",
    "DB_PORT": "",
    "SECRET_KEY": "",
    "SOCIAL_AUTH_GITHUB_APP_KEY": "",
    "SOCIAL_AUTH_GITHUB_APP_SECRET": "",
    "SOCIAL_AUTH_GITHUB_KEY": "",
    "SOCIAL_AUTH_GITHUB_SECRET": "",
    "SOCIAL_AUTH_GITLAB_KEY": "",
    "SOCIAL_AUTH_GITLAB_SECRET": "",
    "SOCIAL_AUTH_GITLAB_REDIRECT_URL": "",
    "SOCIAL_AUTH_REDIRECT": "",
    "GITHUB_BOT_TOKEN": "",
    "GITLAB_BOT_TOKEN": "",
    "GITHUB_SCRAPER_TOKEN": "",
    "GITLAB_SCRAPER_TOKEN": "",
    "WEBHOOK_SECRET": "",
    "HOOK_DOMAIN": "",
    "GITHUB_APP_PRIVATE_KEY_PATH: "",
    "GITHUB_APP_ID": "",
    "GITMATE_DATA_DIR": "",
    "GITMATE_MODELS_DIR": "",
    "GITMATE_DUPLICATES_DIR": ""
}
