interactions:
- request:
    body: '{}'
    headers:
      Authorization: [Bearer 98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f]
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/2?per_page=100
  response:
    body: {string: "{\"id\":3757647,\"iid\":2,\"project_id\":3439658,\"title\":\"\
        Sils/severalcommits\",\"description\":\"\",\"state\":\"opened\",\"created_at\"\
        :\"2017-06-07T03:51:41.112Z\",\"updated_at\":\"2017-06-16T08:11:45.849Z\"\
        ,\"target_branch\":\"master\",\"source_branch\":\"sils/severalcommits\",\"\
        upvotes\":0,\"downvotes\":0,\"author\":{\"id\":1369631,\"name\":\"GitMate\
        \ Labs \U0001F47D\",\"username\":\"gitmate-test-user\",\"state\":\"active\"\
        ,\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\"},\"assignee\":null,\"\
        source_project_id\":3439658,\"target_project_id\":3439658,\"labels\":[],\"\
        work_in_progress\":false,\"milestone\":null,\"merge_when_pipeline_succeeds\"\
        :false,\"merge_status\":\"can_be_merged\",\"sha\":\"99f484ae167dcfcc35008ba3b5b564443d425ee0\"\
        ,\"merge_commit_sha\":null,\"user_notes_count\":0,\"discussion_locked\":null,\"\
        should_remove_source_branch\":null,\"force_remove_source_branch\":null,\"\
        web_url\":\"https://gitlab.com/gitmate-test-user/test/merge_requests/2\",\"\
        time_stats\":{\"time_estimate\":0,\"total_time_spent\":0,\"human_time_estimate\"\
        :null,\"human_total_time_spent\":null},\"squash\":false,\"subscribed\":false,\"\
        changes_count\":\"0\",\"merged_by\":null,\"merged_at\":null,\"closed_by\"\
        :{\"id\":1369631,\"name\":\"GitMate Labs \U0001F47D\",\"username\":\"gitmate-test-user\"\
        ,\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\"},\"closed_at\":\"2017-06-09T09:45:43.998Z\"\
        ,\"latest_build_started_at\":null,\"latest_build_finished_at\":\"2017-08-13T19:35:25.367Z\"\
        ,\"first_deployed_to_production_at\":null,\"pipeline\":{\"id\":9065755,\"\
        sha\":\"99f484ae167dcfcc35008ba3b5b564443d425ee0\",\"ref\":\"sils/severalcommits\"\
        ,\"status\":\"running\"},\"diff_refs\":{\"base_sha\":\"674498fd415cfadc35c5eb28b8951e800f357c6f\"\
        ,\"head_sha\":\"99f484ae167dcfcc35008ba3b5b564443d425ee0\",\"start_sha\":\"\
        198dd16f8249ea98ed41876efe27d068b69fa215\"},\"approvals_before_merge\":null}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"c20bbac6492932aa833aca4753905814"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1531230339']
      RateLimit-ResetTime: ['Wed, 10 Jul 2018 13:45:39 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: [Bearer 98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f]
      Content-Type: [application/json]
      If-None-Match: [W/"c20bbac6492932aa833aca4753905814"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/2?per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"c20bbac6492932aa833aca4753905814"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1531230343']
      RateLimit-ResetTime: ['Wed, 10 Jul 2018 13:45:43 GMT']
    status: {code: 304, message: Not Modified}
version: 1
