interactions:
- request:
    body: '{}'
    headers:
      Authorization: [Bearer 98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f]
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/1?per_page=100
  response:
    body: {string: "{\"id\":5613608,\"iid\":1,\"project_id\":3439658,\"title\":\"\
        new title\",\"description\":\"I am a serious issue. Fix me soon, dude.\",\"\
        state\":\"opened\",\"created_at\":\"2017-06-05T05:19:51.840Z\",\"updated_at\"\
        :\"2017-06-09T08:25:34.687Z\",\"closed_at\":\"2017-06-09T08:25:29.451Z\",\"\
        closed_by\":null,\"labels\":[\"dem\"],\"milestone\":null,\"assignees\":[{\"\
        id\":1369631,\"name\":\"GitMate Labs \U0001F47D\",\"username\":\"gitmate-test-user\"\
        ,\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\"}],\"author\":{\"id\"\
        :1369631,\"name\":\"GitMate Labs \U0001F47D\",\"username\":\"gitmate-test-user\"\
        ,\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\"},\"assignee\":{\"id\"\
        :1369631,\"name\":\"GitMate Labs \U0001F47D\",\"username\":\"gitmate-test-user\"\
        ,\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\"},\"user_notes_count\"\
        :15,\"upvotes\":0,\"downvotes\":0,\"due_date\":null,\"confidential\":false,\"\
        discussion_locked\":null,\"web_url\":\"https://gitlab.com/gitmate-test-user/test/issues/1\"\
        ,\"time_stats\":{\"time_estimate\":0,\"total_time_spent\":0,\"human_time_estimate\"\
        :null,\"human_total_time_spent\":null},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/3439658/issues/1\"\
        ,\"notes\":\"https://gitlab.com/api/v4/projects/3439658/issues/1/notes\",\"\
        award_emoji\":\"https://gitlab.com/api/v4/projects/3439658/issues/1/award_emoji\"\
        ,\"project\":\"https://gitlab.com/api/v4/projects/3439658\"},\"subscribed\"\
        :true,\"weight\":null}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f9f96b02c166f442fbe762fee7a521a9"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1530262417']
      RateLimit-ResetTime: ['Sat, 29 Jun 2018 08:53:37 GMT']
    status: {code: 200, message: OK}
version: 1
